/* p {
    color: red;
} */

/* body {
    font-size: 34px;
    color: red;
}

p {
    color: blue;
}

h1, h2, h3 {
    color: green;
} */

/* h1 {
    font-style: italic;
    font-size: 70px;
}

.movies {
    color: aqua;
}

.shows-title {
    color: pink;
} */

/* #recipe-title {
    text-transform: uppercase;
}

#desserts {
    text-align: right
} */

/* select all elements in our HTML page */
/* * {
    text-align: center;
    font-family: monospace;
}

li {
    color: bisque;
}

.languages {
    text-transform: uppercase;
} */

/* Colors */
/* body {
    font-size: 24px;
    font-family: monospace;
    line-height: 1.8;
    background-color:papayawhip;
    color: rgb(85, 47, 67);
}

p {
    color: rgba(214, 93, 93, 0.918);
    text-align: center;
}

h2 {
    color: #EE4B2B;
} */

/* Units & Sizes */
/* h1 { */
    /* pixels are absolute */
    /* font-size: 48px; */

    /* rem - adjustable to browser changes */
    /* 1rem = 16px;
    2rem = 32px;
    3rem = 48px; */
    /* font-size: 3rem; */
/* } */

/* Box Model */
/* * { */
    /* margin -  */
    /* margin: 0;
    padding: 0; */

    /* This property changes the box model behavior to border-box, this means that the width and height of an element include the content, paddiing, and border, but excludes the margin */
    /* box-sizing: border-box;
}

.container {
    border: 4px solid green;
    border-right: 4px dotted red;
    border-bottom: 4px solid purple;


    font-size: 1.5rem;
    padding:30px;
    margin: 5px;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* 1rem = 16px */
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}

main {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    text-indent: 3rem;
    line-height: 1.5;
    /* letter-spacing: .2em; */
    word-spacing: .8em;
    color: red;
    font-weight: 600;
    font-style: italic;
}