/* p {
    color: red;
} */

/* body {
    font-size: 34px;
    color: red;
}

p {
    color: blue;
}

h1, h2, h3 {
    color: green;
} */

/* h1 {
    font-style: italic;
    font-size: 70px;
}

.movies {
    color: aqua;
}

.shows-title {
    color: pink;
} */

/* #recipe-title {
    text-transform: uppercase;
}

#desserts {
    text-align: right
} */

/* select all elements in our HTML page */
/* * {
    text-align: center;
    font-family: monospace;
}

li {
    color: bisque;
}

.languages {
    text-transform: uppercase;
} */

/* Colors */
/* body {
    font-size: 24px;
    font-family: monospace;
    line-height: 1.8;
    background-color:papayawhip;
    color: rgb(85, 47, 67);
}

p {
    color: rgba(214, 93, 93, 0.918);
    text-align: center;
}

h2 {
    color: #EE4B2B;
} */

/* Units & Sizes */
/* h1 { */
    /* pixels are absolute */
    /* font-size: 48px; */

    /* rem - adjustable to browser changes */
    /* 1rem = 16px;
    2rem = 32px;
    3rem = 48px; */
    /* font-size: 3rem; */
/* } */

/* Box Model */
/* * { */
    /* margin -  */
    /* margin: 0;
    padding: 0; */

    /* This property changes the box model behavior to border-box, this means that the width and height of an element include the content, paddiing, and border, but excludes the margin */
    /* box-sizing: border-box;
}

.container {
    border: 4px solid green;
    border-right: 4px dotted red;
    border-bottom: 4px solid purple;


    font-size: 1.5rem;
    padding:30px;
    margin: 5px;
} */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}

main {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    text-indent: 3rem;
    line-height: 1.5;
    word-spacing: .8em;
    color: red;
    font-weight: 600;
    font-style: italic;
    background-color: blue;
} */

/* Links */
/* body {
    font-size: 2rem;
    font-family: monospace;
} */

/* a {
    text-decoration: none;
    cursor:crosshair;
    color: rgb(99,99,215);
} */

/* pseudo classes */
/* used for a elemnts */
/* a:visited {
    color: red;
}

a:hover {
    color: chartreuse;
} */

/* a:active {
    color: darkolivegreen;
}

/*  */

/* body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: monospace;
}

ol {
    list-style-type:upper-roman;
} */

/* ul {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: red; */
    /* list-style-image: url("../images/lion_test.jpeg"); */
/* } */

/* ul li {
    color: green
} */

/* select specific li childs */
/* ul li:nth-child(2) {
    color: red;
} */

/* ul li:nth-child(3) {
    color: blue;
} */

/* stylize bullet points */
/* ul ::marker {
    color: purple;
    font-family: fantasy;
    font-size: 2rem;
    content: "10% off "
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: monospace;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: center;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
    background-color: red;
}

li {
    display: inline-block;
} */

/* 16px */
/* 1rem = 16px */
/* 2rem = 32px */


/* body {
    font-size: 2rem;
    font-family: monospace;
}

.columns {
    column-count: 4;
    column-width: 250px;
    column-rule: 4px dotted black;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: black;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
} */

/* Position */
/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: monospace;
}

.outer-container {
    border: 3px solid red;
    width: 900px;
    height: 500px;
    margin: 90px;
    position: relative;
}

.inner-container {
    border: 3px solid blue;
    width: 700px;
    height: 200px;
    margin: 100px;
    /* position: relative; */
}

.box {
    width: 150px;
    height: 150px;
    color: green;
    padding: 1rem;
}

/* using the paragraph element to move */
.absolute {
    background-color: green;
    position: absolute;
    top: 100px;
    right: 50px;
}